<% if @recipes.length == 0 %>
 <h1>There is no public recipes yet</h1>
<% else %>
    <p style="color: green"><%= notice %></p>
    <h1> Public Recipes</h1> 

    <div id="recipes">
    <% @recipes.each do |recipe| %>
        
            <% if recipe.public == true %>
            <div class="recipeContainer">
                <%= render recipe %>
                <p>
                <%= link_to "Show this recipe", recipe %>
                </p>
                </div>
            <% end %>       
        
    <% end %>
    </div>
<% end %>


