<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<%= link_to "Add new recipe", new_recipe_path %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    
        <% if recipe.user == current_user %>
        <div class="recipeContainer">
            <%= render recipe %>
            <p>
              <%= link_to "Show this recipe", recipe %>
            </p>
            </div>
        <% end %>
    
    
  <% end %>
</div>

